body {
background-color: rgb(93, 79, 70);
color: rgb(45,27,33);
}

h1 {
    width: auto;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

section.upper-stuff {
    display: flex;
    justify-content: space-evenly;
    }

img {
    border-radius: 50%;
    margin: 20px;
}

aside {
    float: right;
    /* border: 2px solid black; */
    width: 30%;
    margin: 20px;
    padding: 10px;
    
}

h2 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

li {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}


.container {
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.barrier {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    margin: 20px;
    position: relative;
    z-index: 5;
    
}

    #winner div {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    
}

.appear {
    background-image: url('https://i.imgur.com/rQXydA5.jpg?2');
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


.clicked {
    background-image: url('https://i.imgur.com/75bu5u5.jpg?1');
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

section.scoreboard {
    /* border: 2px solid black; */
    width: auto;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
