body {
    background: rgb(129,114,91);
    background: radial-gradient(circle, rgba(129,114,91,1) 0%, rgba(91,74,66,1) 67%, rgba(64,66,65,1) 100%);
color: rgb(37, 25, 27);
}

h1 {
    width: auto;
    text-align: center;
    font-size: 5em;
    font-family: 'Luckiest Guy', cursive;
}

section.upper-stuff {
    display: flex;
    justify-content: center;
    }

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    /* flex: 1; */
    margin: 20px;
    /* flex-shrink: 2; */
}

aside {
    /* float: right; */
    /* border: 2px solid black; */
    /* flex: 1; */
    /* flex-shrink: 2; */
    width: 400px;
    height: 300px;
    margin: 20px;
   
    
}

h2 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    /* border: 2px solid black; */
    margin-bottom: 2px
}

li {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    font-size: 1.2em;
    /* border: 2px solid black; */
}


.container {
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.barrier {
    height: 150px;
    width: 150px;
    background-image: url('https://i.imgur.com/yHbg8jT.png?2');
    border-radius: 50%;
    margin: 10px;
    position: relative;
    z-index: 5;
    
}

    #winner div {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    
}

.appear {
    background-image: url('https://i.imgur.com/XIid4J9.png?1');
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


.clicked {
    background-image: url('https://i.imgur.com/XhNzxe9.jpg?1');
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

section.scoreboard {
    /* border: 2px solid black; */
    width: auto;
    height: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
